html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	line-height: 1.5;
}

.answer-item {
	list-style: lower-alpha;
}

.question-item {
	margin-bottom: 2rem;

	&.correct {
		color: green;
	}

	&.incorrect {
		color: red;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.alert-title {
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

#alert {
	font-size: 1.25rem;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1rem;
	background-color: hsl(100, 80%, 80%);
	border-radius: 0.5rem;
	color: hsl(100, 80%, 20%);

	&.active {
		display: block;
	}
}
