/* 
Reusable block class
Column layout: grid system before flex and grid.
*/
.row {
	@mixin clearfix;

	&--gutters {
		/* 
      Select parent row to remove the final gutter on the end,
      negative margin will overflow the parent wrapper class.
      so the wrapper class has to set overflow:hidden
     */
		margin-right: -65px;
	}

	&--gutters > div {
		/* Select this modifier's direct children,
       and this will create gutter effect  */
		padding-right: 65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters-large {
		& > div,
		& > article {
			padding-right: 100px;
		}
	}

	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters-small {
		& > div,
		& > article {
			padding-right: 45px;
		}
	}

	&__b-margin-until-medium {
		/* 
		Small screen give it a bottom-margin,
		At medium screen, set to 0. 
	*/
		margin-bottom: 1rem;
		@mixin md {
			margin-bottom: 0px;
		}
	}

	&__b-margin-until-large {
		/* 
		Small screen give it a bottom-margin,
		At medium screen, set to 0. 
	*/
		margin-bottom: 1rem;
		@mixin lg {
			margin-bottom: 0px;
		}
	}

	&--t-padding {
		/* 
		In testimonial section, Because the .testimonial__photo 
		using relative position to offset top -80px, pull up ou of 
		it's natural postion, it will cause overlapping, so set the
		container padding-top to container the offset.
		*/
		padding-top: 80px;
	}

	/* 
	Begin Equal Height Rules
	Flexbox default align-items:stretch, so flex-item are all equal-height
	*/
	&--equal-hight-at-medium {
		@mixin md {
			display: flex;
		}
		/* ?我不是很懂得是, 既然用了flexbox, 幹嘛還用float, 然後overwrite */
		& > div,
		& > article {
			float: none;
			display: flex;
		}
	}

	&--equal-hight-at-large {
		@mixin lg {
			display: flex;
		}
		& > div,
		& > article {
			float: none;
			display: flex;
		}
	}

	/*
    Small screen use a single column layout. don't need
    to do anything. 
    Only if a screen is considered medium or larger 
    will apply the multi column layout.  
  */
	@mixin md {
		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		/* Using modifier to override the column grid when necessary, 
    and won't break the origin 12 column ratio*/
		&__medium-4--larger {
			width: 37%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		&__medium-8--smaller {
			width: 63%;
		}
	}

	@mixin lg {
		&__large-4 {
			float: left;
			width: 33.33%;
		}

		&__large-4--larger {
			width: 37%;
		}

		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;
		}

		&__large-8--smaller {
			width: 63%;
		}
	}
}
