@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: Inter, 'Noto Sans TC', Arial, Helvetica, sans-serif;
}

.list {
	display: flex;
	max-width: 1000px;
	padding: 2rem;
	margin: 0 auto;
	list-style: none;
	gap: 1rem;
	flex-wrap: wrap;
	border-bottom: 3px dotted $blue-grey-600;

	&:last-child {
		border-bottom: none;
	}

	&__item {
		display: inline-block;
		background: $sky-400;
		border-radius: 10px;
		text-decoration: none;
		padding: 1rem;
		font-weight: bold;
		font-size: 1.5rem;
		color: #ffffff;
		transition: all 0.3s;

		&:hover {
			color: #000;
			background: $orange-400;
		}
	}

	&--bg-pink {
		background: lightpink;
	}
	&--bg-amber {
		background: $amber-300;
	}

	&--bg-green {
		background: $green-400;
	}
}
